.Body_Small {
    color: #1e1900;
    font-family: 'LucidaGrande', 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif';
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 4px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Heading_2 {
    color: #fdff00;
    font-family: 'Palatino-BoldItalic', 'Palatino', 'serif';
    font-size: 13px;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Heading_3 {
    color: #fdff00;
    font-family: 'Palatino-Bold', 'Palatino', 'serif';
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing:     0.06em;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.Photo_Album_Dates {
    color: #1e1900;
    font-family: 'LucidaGrande', 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif';
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Photo_Album_Titles {
    color: #693913;
    font-family: 'Palatino-BoldItalic', 'Palatino', 'serif';
    font-size: 11px;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 4px;
}
.graphic_generic_body_textbox_style_default {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.graphic_generic_description_textbox_style_default {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.graphic_shape_style_default {
    background: #ffffff;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_style_default {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
a {
    color: #1e1900;
    text-decoration: none;
}
a:visited {
    color: #004b2c;
    text-decoration: none;
}
a:hover {
    color: #fdff00;
    text-decoration: underline;
}
.CounterDivClass {
    left: 74px;
    position: absolute;
    top: 534px;
    z-index: 1;
}
div {
    overflow: visible;
}
img {
    border: none;
}
.InlineBlock {display: inline; }
.InlineBlock {display: inline-block; }
.tinyText {
    font-size: 1px;
}
